html {
    height: 100%;
}

body {

    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #24252a;
}

/* Nav Bar */

li,
a,
button {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #202020;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    font-size: 22px;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    font-size: 22px;
}

h2 {
    font-size: 200%;
    text-align: right;
}

h3 {
    font-size: 160%;
}

h4 {
    font-weight: 200;
}

/* Hero Section */

#cover-text {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 350%;
    color: #edf0f1;
    text-decoration: none;
    position: absolute;
    background-color: rgba(43, 43, 43, 0.7);
    top: 30px;
    right: 200px;
    padding: 20px;
}

#hero {
    height: 675px;
    width: 100%;
    background: url(../assets/images/zebra_2.jpeg) no-repeat center center/cover;
    position: relative;
}

/* About Section */

#about {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.about_us {
    border: 1px solid white;
    text-align: left;
    padding: 15px;
}

/* News */

#news {
    font-family: "lexend",
        sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;

}

.news_col {
    display: flex;
}

.news_col>* {
    flex-basis: 100%;
}

.col {
    border: 1px solid white;
    padding: 25px;
    margin: 15px;
}

/* Footer */
footer {
    color: #edf0f1;
    padding: 2em;
    background-color: #202020;
    padding: 0;
}

#social {
    text-align: center;
    padding: 0px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social i {
    font-size: 120%;
    padding: 5%;
    color: #edf0f1;
}

#copyright {
    font-family: "lexend",
        sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
    margin: auto;
}