/* general styles */

h2 {
    font-size: 130%;
    padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

h3 {
    font-size: 120%;
    padding: 5%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

h4 {
    font-weight: 400;
    font-size: 120%;
}

p {
    font-weight: 200;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3d3d3d;
    justify-content: center;
}

main {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Nav Bar */

li,
a,
button {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #202020;
    justify-content: center;
    max-height: 90px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 15px 5%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 20%;
    max-width: 200px;
    max-height: 90px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover,
.nav_links li a.active {
    color: #0088a9;
    font-size: 18px;
}

button {
    padding: 5px 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 17px;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    font-size: 20px;
}

/* Hero Section */

#cover-text {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 250%;
    color: #edf0f1;
    text-decoration: none;
    position: absolute;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(43, 43, 43, 0.5);
    top: 30px;
    right: 30px;
    width: 35%;
    height: 80%;
    text-align: right;
    vertical-align: middle;
    min-width: 250px;
}

#hero {
    height: 400px;
    width: 100%;
    background: url(../assets/images/zebra_2.jpeg) no-repeat center center/cover;
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#hero_services {
    height: 400px;
    width: 100%;
    background: url(../assets/images/services.jpeg) no-repeat center center/cover;
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#hero_team {
    height: 400px;
    width: 100%;
    background: url(../assets/images/zebs_2.png) no-repeat center center/cover;
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#hero_career {
    height: 400px;
    width: 100%;
    background: url(../assets/images/manchester2.png) no-repeat center center/cover;
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#hero_contact {
    height: 400px;
    width: 100%;
    background: url(../assets/images/contact.jpeg) no-repeat center center/cover;
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* About Section */

#about {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    text-shadow: 1px 1px 1px #000000;
}

.about_us {
    border-bottom: 1px solid white;
    text-align: left;
    padding: 15px;
    padding-bottom: 45px;
    max-width: 1800px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
}

/* News */

#news {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    width: 90%;
    margin: auto;
    text-shadow: 1px 1px 1px #000000;
}

.news_content {
    padding: 15px;
}

.news_col {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5em;
    flex: 1;
}

.col {
    width: 320px;
    height: 520px;
    padding: 1em;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 2px 1px black;
}

.col>h4 a {
    color: rgba(0, 136, 169, 1);
    font-weight: 400;
    font-size: 110%;
}

.news_img {
    width: 320px;
    margin: auto;
}

/* Services */

#services {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    margin: auto;
    width: 90%;
    height: 100%;
    margin: 25px auto;
    max-width: 1400px;
    min-width: 450px;
}

.services_content {
    padding: 15px;
    margin: 15px auto;
    border-bottom: 1px solid white;
    height: 380px;
    width: 90%;
    min-width: 400px;
}

.services_content>ul {
    padding-top: 35px;
}

li {
    float: left;
    text-align: center;
    text-decoration: none;
    max-width: 300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 60px;
}

.services_content:last-of-type {
    border-bottom: none;
}

/* Team Page */

#team_content {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding: 15px;
    max-width: 1600px;
}

.team_photo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1600px;
    margin-bottom: 25px;
}

.team_section {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding: 25px;
}

.team_section:last-of-type {
    border-bottom: none;
}

.team_pic {
    border: 4px solid white;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.text_pic {
    margin-bottom: 25px;
    align-items: center;
    display: flex;


}

.team_text {
    min-width: 300px;
    padding: 15px;

    flex-grow: 1;
}

/* Career Page */

.career_intro {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding: 15px;
    padding-bottom: auto;
    margin-bottom: 35px;
}

.career_container {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px auto;
    padding: 15px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    flex: 1;
    margin-bottom: 30px auto;
}

.career {
    width: 350px;
    height: 350px;
    padding: 1em;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px black;
}

.career_app {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;
    padding: 15px;
}

/* Career Form */

#form_title {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
    padding: 15px;
    justify-content: center;
    margin-bottom: 25px;
    box-shadow: 1px 1px 1px 1px black;
}

form {
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.input-checkbox {
    height: 15px;
    width: 15px;
    margin-right: 25;
}

.input-radio {

    width: 15px;
    margin-right: 25;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid white;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input,
textarea {
    background-color: #edf0f1;
    border: 1px solid white;
    color: black;
}


input[type="submit"] {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    font-size: 20px;
}

input[type="file"] {
    padding: 1px 2px;
}

#user_ex {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-top: 25px;
}

/* Contact page */

#contact {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-shadow: 1px 1px 1px #000000;
}

.contact_info {
        border-bottom: 1px solid white;
            text-align: left;
            padding: 15px;
            padding-bottom: 45px;
            max-width: 1800px;
            font-size: 22px;
            text-shadow: 1px 1px 1px #000000;
}

.contact_us {
    border-bottom: 1px solid white;
    text-align: left;
    padding: 15px;
    padding-bottom: 45px;
    max-width: 1800px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
}

.contact_content {
    font-family: "lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5em;
    flex: 1;
}

.contact_address {
    width: 320px;
    height: 520px;
    padding: 1em;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 2px 1px black;
    margin-top: 35px;
}

.contact_map {
    width: 450px;
    height: 520px;
    padding: 1em;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 2px 1px black;
    margin-top: 35px;
}

/* Footer */
footer {
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    background-color: #202020;
    padding: 0;
    margin-top: auto;
}

#social {
    text-align: center;
    padding: 0px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social i {
    font-size: 120%;
    padding: 5%;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.8);
}

#copyright {
    font-family: "lexend",
        sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #edf0f1;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    margin: auto;
}